*.log
*.tmp
*.obj
/obj/
/bin/
/build/
/dist/

.env
.idea/
.vscode/

credentials.json
secret_key.txt

/node_modules/
/venv/

.vs/
.project
.classpath
.DS_Store

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
